
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document Classification</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="js/bootstrap.min.js">
        <link rel="stylesheet" href="js/jquery.min.js">
</head>

<body>

<h1> Document Classification</h1>

<form  action="" method="post" role="form">
    <div class="form-group">
      <label for="words">Words:</label>
      <input type="text" class="form-control" id="words" name="Document Content">
    </div>
    <button type="submit"  class="btn btn-success">Predict</button>
</form>




</body>
</html>

