<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document Classification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap.min.css">

    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>

    <!--<link rel="stylesheet" href="static/bootstrap.min.js">-->
    <link rel="stylesheet" href="static/jquery.min.js">
    <link rel="stylesheet" type="text/css"
          href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css"/>
    <script type="text/javascript"
            src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    </head>

<body>


<div class='container'>
    <div style="text-align:center;">
        <h1 style="color: rgb(0,139,139);"> Document Classification</h1>
    </div>
</div>

<div class='container'>
    <div style="text-align:center;">
<img src="{{url_for('static', filename='heavywater1.png')}}" >
    </div>
</div>

<form action="" method="post" role="form">
    <div class="container">
        <div style="text-align:center;" class="form-group">
            <!--<label for="words">Document Content:</label>-->
            <input type="text" class="form-control" id="words" name="Document Content" placeholder="Enter Document Data Here" required>
            <br>
            <button type="submit" class="btn btn-success">Predict</button>
        </div>
    </div>
</form>


</body>
</html>